<div class="center jumbotron">
  <h1>Demo App</h1>
 
  <h2>
    Ever been robbed on the internet?  You bout to. 
  </h2>
  <%= link_to "Click this and gimme yo moniez", "users/new", class: "btn btn-lg btn-primary" %>
</div>